#### Limpeza de Dados:

<ul>
    <li>Trate os Nulos</li>
    <li>Trate as duplicatas</li>
    <li>Preencher linhas ausentes</li>
    <li>Elimine colunas desnecessárias</li>
</ul>

In [1]:
import pandas as pd

base = pd.read_csv("netflix_titles.csv")

base.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [2]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [3]:
base[base.duplicated()] #verificando se existe alguma linha totalmente igual a outra, não existe

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [4]:
base[base['director'].duplicated()] #quando verifico se existe um diretor igual em várias obras, observo que além dos valores NAN, há sim nomes de diretores duplicados

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
14,s15,TV Show,Crime Stories: India Detectives,NaN,NaN,NaN,"September 22, 2021",2021,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Docuseries",Cameras following Bengaluru police on the job ...
15,s16,TV Show,Dear White People,NaN,"Logan Browning, Brandon P. Bell, DeRon Horton,...",United States,"September 22, 2021",2021,TV-MA,4 Seasons,"TV Comedies, TV Dramas",Students of color navigate the daily slights a...
...,...,...,...,...,...,...,...,...,...,...,...,...
8799,s8800,Movie,Zenda,Avadhoot Gupte,"Santosh Juvekar, Siddharth Chandekar, Sachit P...",India,"February 15, 2018",2009,TV-14,120 min,"Dramas, International Movies",A change in the leadership of a political part...
8800,s8801,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,"December 15, 2016",2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...

In [5]:
base[base['director'] == 'David Fincher'] #todas as obras do diretor David Fincher na base

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
600,s601,Movie,The Game,David Fincher,"Michael Douglas, Sean Penn, Deborah Kara Unger...",United States,"July 1, 2021",1997,R,129 min,Thrillers,An aloof investment banker's life spirals into...
1595,s1596,Movie,MANK,David Fincher,"Gary Oldman, Amanda Seyfried, Charles Dance, L...",United States,"December 4, 2020",2020,R,133 min,"Dramas, Independent Movies",1930s Hollywood is reevaluated through the eye...
7701,s7702,Movie,Panic Room,David Fincher,"Jodie Foster, Forest Whitaker, Dwight Yoakam, ...",United States,"August 1, 2019",2002,R,112 min,Thrillers,A woman and her daughter are caught in a game ...
8320,s8321,Movie,The Girl with the Dragon Tattoo,David Fincher,"Daniel Craig, Rooney Mara, Christopher Plummer...","United States, Sweden, Norway","January 5, 2021",2011,R,158 min,"Dramas, Thrillers",When a young computer hacker is tasked with in...
8511,s8512,Movie,The Social Network,David Fincher,"Jesse Eisenberg, Andrew Garfield, Justin Timbe...",United States,"April 1, 2020",2010,PG-13,121 min,Dramas,Director David Fincher's biographical drama ch...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."

#### Tratando os valores nulos da coluna diretor

<p>Temos algumas formas de fazer isso:
    <ul>
        <li>Podemos passar o valor de "não informado" para esses valores nulos</li>
        <li>Podemos também procurar e passar os nomes dos diretores de cada obra que está com o valor NAN, entretanto, isso exige um trabalho muito longo e cansativo, <strong>você deve se perguntar se vale o tempo e se é realmente necessário fazer isso?</strong></li>
    </ul>
</p>

In [6]:
base['director'].isnull().sum() #somando a quantidade de valores nulos na coluna director, observa que se eu fosse fazer uma pesquisa para substituir os valores nulos por cada diretor correto, eu iria fazer isso 2634 vezes, então isso poderia ser um atrasdo no projeto, se por acaso o meu chefe ou supervisor chegasse e falasse que seria importante para o projeto ter esses dados corretos, aí sim eu deveria pesquisar e passar os valores exatos

2634

In [7]:
base.loc[base['director'].isnull(), 'director'] = "uninformed" #o 'loc' nos permite acessar os valores nulos em determinada coluna e atribuir um valor a eles, nesse caso estou atribuido 'uninformed' (não informado), para esses valores

In [8]:
base['director'].isnull().sum() #verificando se ainda existe algum valor nulo

0

In [9]:
base['director'].nunique() #verificando a cardinalidade e descobrindo que há 4529 valores diferentes na coluna de diretores

4529

In [10]:
base['director'].value_counts().head(10) #verificando os 10 autores que mais aparecem, observe que uninformed é o que mais aparece, ou seja, a base na coluna director está bem incompleta

uninformed                2634
Rajiv Chilaka               19
Raúl Campos, Jan Suter      18
Suhas Kadav                 16
Marcus Raboy                16
Jay Karas                   14
Cathy Garcia-Molina         13
Jay Chapman                 12
Youssef Chahine             12
Martin Scorsese             12
Name: director, dtype: int64

#### Tratando os valores nulos da coluna cast (Atores envolvidos no filme/série)

<p>Aqui é a mesma situação dos diretores</p>

In [11]:
base['cast'].isnull().sum() #verificando a soma dos valores nulos na coluna cast

825

In [12]:
base['cast'].nunique()

7692

In [13]:
base.loc[base['cast'].duplicated()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3,s4,TV Show,Jailbirds New Orleans,uninformed,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",uninformed,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
14,s15,TV Show,Crime Stories: India Detectives,uninformed,NaN,NaN,"September 22, 2021",2021,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Docuseries",Cameras following Bengaluru police on the job ...
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave García, Pablo Azorín Williams",NaN,NaN,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
20,s21,TV Show,Monsters Inside: The 24 Faces of Billy Milligan,Olivier Megaton,NaN,NaN,"September 22, 2021",2021,TV-14,1 Season,"Crime TV Shows, Docuseries, International TV S...","In the late 1970s, an accused serial rapist cl..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,s8756,TV Show,Women Behind Bars,uninformed,NaN,United States,"November 1, 2016",2010,TV-14,3 Seasons,"Crime TV Shows, Docuseries",This reality series recounts true stories of w...
8756,s8757,Movie,Woodstock,Barak Goodman,NaN,United States,"August 13, 2019",2019,TV-MA,97 min,"Documentaries, Music & Musicals",For the 50th anniversary of the legendary Wood...
8763,s8764,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...
8784,s8785,Movie,Yoko and His Friends,uninformed,"Eileen Stevens, Alyson Leigh Rosenfeld, Sarah ...","Russia, Spain","June 23, 2018",2015,TV-Y,78 min,Children & Family Movies,"Vik meets new friends in a new city, where the..."
8803,s8804,TV Show,Zombie Dumb,uninformed,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."

In [14]:
base.loc[base['cast'].isnull(), 'cast'] = 'uninformed' #depois de procurar um pouco para ver se tinha alguma explicação para alguns valores da coluna cast estarem vazios, não encontrei nada, aparentemente os valores nulos estão em todo tipo de obra, passei o valor uninformed para os valores nulos

In [15]:
base['cast'].value_counts().head(7) #pegando os atores que mais particparam de projetos

uninformed                                                                                 825
David Attenborough                                                                          19
Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jigna Bhardwaj, Rajesh Kava, Mousam, Swapnil     14
Samuel West                                                                                 10
Jeff Dunham                                                                                  7
Craig Sechler                                                                                6
David Spade, London Hughes, Fortune Feimster                                                 6
Name: cast, dtype: int64

In [16]:
base[base['cast'] == 'Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jigna Bhardwaj, Rajesh Kava, Mousam, Swapnil'].head(10) #pegando esse grupo de atores e atrizes que apareceram 14X na base, observa que alguns dos dados desse grupo de atores  estão vazios, o diretor está 'não informado' como eu definir, mas em todos os outros projetos, é o mesmo diretor e o mesmo país, então eu pesquisei essa obra na internet e, realmente é o mesmo diretor dos outros casos, vamos corrigir então para ficar mais preciso

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
39,s40,TV Show,Chhota Bheem,uninformed,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"September 16, 2021",2021,TV-Y7,3 Seasons,Kids' TV,"A brave, energetic little boy with superhuman ..."
406,s407,Movie,Chhota Bheem - Neeli Pahaadi,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,Things get spooky when Bheem and his buddies t...
407,s408,Movie,Chhota Bheem & Ganesh,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2009,TV-Y7,68 min,Children & Family Movies,Bheem and Lord Ganesha join forces to save Dho...
408,s409,Movie,Chhota Bheem & Krishna: Mayanagari,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2011,TV-Y7,67 min,Children & Family Movies,Young lord Krishna has fallen for demoness Maa...
410,s411,Movie,Chhota Bheem And The Broken Amulet,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,When a stranger tries to steal an amulet from ...
411,s412,Movie,Chhota Bheem And The Crown of Valhalla,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,To save the kingdom of Valhalla from invasion ...
412,s413,Movie,Chhota Bheem and the Incan Adventure,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2013,TV-Y7,65 min,Children & Family Movies,"When Dholakpur’s princess is kidnapped, Bheem ..."
413,s414,Movie,Chhota Bheem and The ShiNobi Secret,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,After learning of a samurai village under thre...
414,s415,Movie,Chhota Bheem Aur Hanuman,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2012,TV-Y7,68 min,Children & Family Movies,When two evil entities kidnap a princess in a ...
416,s417,Movie,Chhota Bheem aur Krishna vs Zimbara,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",NaN,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,A demon of darkness is plotting world dominati...

In [17]:
#fazendo o tratamento tanto para o director igual a uninformed e aos países nulos, afinal se alguns dos projetos dele foram feitos na india e apresentado no mesmo rating(TV-Y7), é provável que todos seus projetos sejam feitos na india 
base.loc[base['title'] == 'Chhota Bheem', 'director'] = 'Rajiv Chilaka'
base.loc[base['director'] == 'Rajiv Chilaka', 'country'] = 'India'

In [18]:
#verificando se foi:
base[base['cast'] == 'Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jigna Bhardwaj, Rajesh Kava, Mousam, Swapnil'].head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
39,s40,TV Show,Chhota Bheem,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"September 16, 2021",2021,TV-Y7,3 Seasons,Kids' TV,"A brave, energetic little boy with superhuman ..."
406,s407,Movie,Chhota Bheem - Neeli Pahaadi,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,Things get spooky when Bheem and his buddies t...
407,s408,Movie,Chhota Bheem & Ganesh,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"July 22, 2021",2009,TV-Y7,68 min,Children & Family Movies,Bheem and Lord Ganesha join forces to save Dho...
408,s409,Movie,Chhota Bheem & Krishna: Mayanagari,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"July 22, 2021",2011,TV-Y7,67 min,Children & Family Movies,Young lord Krishna has fallen for demoness Maa...
410,s411,Movie,Chhota Bheem And The Broken Amulet,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,When a stranger tries to steal an amulet from ...
411,s412,Movie,Chhota Bheem And The Crown of Valhalla,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,To save the kingdom of Valhalla from invasion ...
412,s413,Movie,Chhota Bheem and the Incan Adventure,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"July 22, 2021",2013,TV-Y7,65 min,Children & Family Movies,"When Dholakpur’s princess is kidnapped, Bheem ..."
413,s414,Movie,Chhota Bheem and The ShiNobi Secret,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,After learning of a samurai village under thre...
414,s415,Movie,Chhota Bheem Aur Hanuman,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"July 22, 2021",2012,TV-Y7,68 min,Children & Family Movies,When two evil entities kidnap a princess in a ...
416,s417,Movie,Chhota Bheem aur Krishna vs Zimbara,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,"July 22, 2021",2013,TV-Y7,64 min,Children & Family Movies,A demon of darkness is plotting world dominati...

- Esse caso dos autores, foi algo específico onde eu estava verificando se esse tanto de atores estava correto mesmo e se não era obras duplicadas, mas sim estavam 
corretos, e coincidentemente observei que tinham dados vazios que estavam logicamente simples de se tratar, como alguns dados da coluna **country**, dessa forma eu aproveitei e passei os dados corretos para ficar melhor ajustado nas obras desses atores

In [19]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      8807 non-null   object
 4   cast          8807 non-null   object
 5   country       7992 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

#### Tratando a coluna de country(países) e rating(classificação de maturidades)

- Os países nulos, se encaixam no mesmo caso dos diretores, com pesquisa na internet seria fácil encontrar onde essas obras foram produzidas

In [20]:
base.loc[base['country'].isnull(), 'country'] = 'uninformed'

In [21]:
#coluna de rating
base['rating'].isnull().sum()

4

In [22]:
#Essa linha de código verifica quais os valores presentes nessa coluna e quantas vezes eles aparecem, veja que os 3 ultimos, são dados de duração, decidir passar esses valores para NAN, dessa forma, posso ajustar de maneira correta
base['rating'].value_counts()

TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
74 min         1
84 min         1
66 min         1
Name: rating, dtype: int64

In [23]:
#percebi que todos esses dados de duração que estão em rating, são de um mesmo diretor
base[base['director'] == 'Louis C.K.']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi..."
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,Movies,The comic puts his trademark hilarious/thought...

In [24]:
#vamos fazer essa substituição, usando os títulos
import numpy as np

base.loc[base['title'] == 'Louis C.K. 2017', 'duration'] = '74 min'
base.loc[base['title'] == 'Louis C.K. 2017', 'rating'] = np.nan
base.loc[base['title'] == 'Louis C.K. 2017']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,NaN,74 min,Movies,"Louis C.K. muses on religion, eternal love, gi..."

In [25]:
base.loc[base['title'] == 'Louis C.K.: Hilarious', 'duration'] = '84 min'
base.loc[base['title'] == 'Louis C.K.: Hilarious', 'rating'] = np.nan
base.loc[base['title'] == 'Louis C.K.: Hilarious']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,NaN,84 min,Movies,Emmy-winning comedy writer Louis C.K. brings h...

In [26]:
base.loc[base['title'] == 'Louis C.K.: Live at the Comedy Store', 'duration'] = '66 min'
base.loc[base['title'] == 'Louis C.K.: Live at the Comedy Store', 'rating'] = np.nan
base.loc[base['title'] == 'Louis C.K.: Live at the Comedy Store']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,NaN,66 min,Movies,The comic puts his trademark hilarious/thought...

In [27]:
base['rating'].value_counts()

TV-MA       3207
TV-14       2160
TV-PG        863
R            799
PG-13        490
TV-Y7        334
TV-Y         307
PG           287
TV-G         220
NR            80
G             41
TV-Y7-FV       6
NC-17          3
UR             3
Name: rating, dtype: int64

In [28]:
base['rating'].isnull().sum() #tem apenas 7 dados vazios de rating

7

In [29]:
#Essa coluna de rating está muito específica, por exemplo: G e TV-G significa que é liberado para o público geral, então poderíamos unir por classes, óbvio que esssa união depende do projeto

base.loc[(base['rating'] == 'TV-G') | (base['rating'] == 'G') | (base['rating'] == 'TV-Y7') | (base['rating'] == 'TV-Y7-FV') | (base['rating'] == 'TV-Y') | (base['rating'] == 'TV-PG') | (base['rating'] == 'PG'), 'rating'] = 'R-C' #recomendado para crianças

base.loc[(base['rating'] == 'PG-13') | (base['rating'] == 'TV-14'), 'rating'] = 'R-A' #recomendado para adolescentes

base.loc[(base['rating'] == 'R') | (base['rating'] == 'TV-MA') | (base['rating'] == 'NC-17'), 'rating'] = 'R+17' #recomendado para maiores

#A sigla NR significa não classificado e a sigla UR, aparentemente são filmes que tem algumas cenas bem eróticas e que segundo algumas comunidades na internet, são proibidos em alguns cinemas grandes nos EUA
base['rating'].value_counts()

R+17    4009
R-A     2650
R-C     2058
NR        80
UR         3
Name: rating, dtype: int64

In [30]:
base[base['rating'].isnull()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,NaN,74 min,Movies,"Louis C.K. muses on religion, eternal love, gi..."
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,NaN,84 min,Movies,Emmy-winning comedy writer Louis C.K. brings h...
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,NaN,66 min,Movies,The comic puts his trademark hilarious/thought...
5989,s5990,Movie,13TH: A Conversation with Oprah Winfrey & Ava ...,uninformed,"Oprah Winfrey, Ava DuVernay",uninformed,"January 26, 2017",2017,NaN,37 min,Movies,Oprah Winfrey sits down with director Ava DuVe...
6827,s6828,TV Show,Gargantia on the Verdurous Planet,uninformed,"Kaito Ishikawa, Hisako Kanemoto, Ai Kayano, Ka...",Japan,"December 1, 2016",2013,NaN,1 Season,"Anime Series, International TV Shows","After falling through a wormhole, a space-dwel..."
7312,s7313,TV Show,Little Lunch,uninformed,"Flynn Curry, Olivia Deeble, Madison Lu, Oisín ...",Australia,"February 1, 2018",2015,NaN,1 Season,"Kids' TV, TV Comedies","Adopting a child's perspective, this show take..."
7537,s7538,Movie,My Honor Was Loyalty,Alessandro Pepe,"Leone Frisa, Paolo Vaccarino, Francesco Miglio...",Italy,"March 1, 2017",2015,NaN,115 min,Dramas,"Amid the chaos and horror of World War II, a c..."

- Como tinha apenas 7 dados vazios na coluna de rating, eu decidir pesquisar o rating e cada obra, a atribuição dos valores foi usando o loc e puxando os dados pelo o show_id, as fontes desses resultados foram o própio site da Netflix e o iMDB

In [31]:
base.loc[base['show_id'] == 's5542', 'rating'] = 'R+17'
base.loc[base['show_id'] == 's5814', 'rating'] = 'R+17'
base.loc[base['show_id'] == 's5795', 'rating'] = 'R+17'
base.loc[base['show_id'] == 's5990', 'rating'] = 'R-A'
base.loc[base['show_id'] == 's6828', 'rating'] = 'R-A'
base.loc[base['show_id'] == 's7313', 'rating'] = 'R-C'
base.loc[base['show_id'] == 's7538', 'rating'] = 'R-A'

- Tratando os valores nulos da coluna de data(date_added)

In [32]:
base['date_added'].isnull().sum()

10

In [33]:
base['date_added'].value_counts()

January 1, 2020      109
November 1, 2019      89
March 1, 2018         75
December 31, 2019     74
October 1, 2018       71
                    ...
December 4, 2016       1
November 21, 2016      1
November 19, 2016      1
November 17, 2016      1
January 11, 2020       1
Name: date_added, Length: 1767, dtype: int64

In [34]:
base[base['date_added'].isnull()]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
6066,s6067,TV Show,A Young Doctor's Notebook and Other Stories,uninformed,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,R+17,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6174,s6175,TV Show,Anthony Bourdain: Parts Unknown,uninformed,Anthony Bourdain,United States,NaN,2018,R-C,5 Seasons,Docuseries,This CNN original series has chef Anthony Bour...
6795,s6796,TV Show,Frasier,uninformed,"Kelsey Grammer, Jane Leeves, David Hyde Pierce...",United States,NaN,2003,R-C,11 Seasons,"Classic & Cult TV, TV Comedies",Frasier Crane is a snooty but lovable Seattle ...
6806,s6807,TV Show,Friends,uninformed,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,R-A,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...
6901,s6902,TV Show,Gunslinger Girl,uninformed,"Yuuka Nanri, Kanako Mitsuhashi, Eri Sendai, Am...",Japan,NaN,2008,R-A,2 Seasons,"Anime Series, Crime TV Shows","On the surface, the Social Welfare Agency appe..."
7196,s7197,TV Show,Kikoriki,uninformed,Igor Dmitriev,uninformed,NaN,2010,R-C,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...
7254,s7255,TV Show,La Familia P. Luche,uninformed,"Eugenio Derbez, Consuelo Duval, Luis Manuel Áv...",United States,NaN,2012,R-A,3 Seasons,"International TV Shows, Spanish-Language TV Sh...","This irreverent sitcom featues Ludovico, Feder..."
7406,s7407,TV Show,Maron,uninformed,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,R+17,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
7847,s7848,TV Show,Red vs. Blue,uninformed,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
8182,s8183,TV Show,The Adventures of Figaro Pho,uninformed,"Luke Jurevicius, Craig Behenna, Charlotte Haml...",Australia,NaN,2015,R-C,2 Seasons,"Kids' TV, TV Comedies","Imagine your worst fears, then multiply them: ..."

In [35]:
#o tratamento desses valores nulos será da mesma forma que os valores nulos de rating, como são 10 valores nulos, então vale a tempo ir atrás do motivo por qual o valor está vazio ou ir pesquisar na internet qual o valor correto, lembrando que a coluna é da data que foi lançado na netflix, como não se encontra na internet, então foi passado a data de lançamento dessas obras

base.loc[base['show_id'] == 's6067', 'date_added'] = 'November 21, 2013'
base.loc[base['show_id'] == 's6175', 'date_added'] = 'April 14, 2013'
base.loc[base['show_id'] == 's6796', 'date_added'] = 'September 16, 1993'
base.loc[base['show_id'] == 's6807', 'date_added'] = 'September 22, 1994'
base.loc[base['show_id'] == 's6902', 'date_added'] = 'October 9, 2003'
base.loc[base['show_id'] == 's7197', 'date_added'] = 'December 22, 2003'
base.loc[base['show_id'] == 's7255', 'date_added'] = 'August 7, 2002'
base.loc[base['show_id'] == 's7407', 'date_added'] = 'October 1, 2013'
base.loc[base['show_id'] == 's7848', 'date_added'] = 'April 1, 2003'
base.loc[base['show_id'] == 's8183', 'date_added'] = 'January 1, 2012' #essa obra específica não tinha a data de lançamento na internet, só afirma que foi lançado em 2012

#### Apagando colunas desnecessárias

In [41]:
base = base.drop('duration', axis=1) #apaguei a coluna de duração pois não vi utilidade dela no projeto

In [42]:
base.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,uninformed,United States,"September 25, 2021",2020,R-A,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,uninformed,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,R+17,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",uninformed,"September 24, 2021",2021,R+17,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,uninformed,uninformed,uninformed,"September 24, 2021",2021,R+17,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,uninformed,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,R+17,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [43]:
base.to_csv('base_limpa.csv', index=False) #baixando a base limpa para iniciar um novo arquivo para visualização dos dados